Repository fork-commit-merge/fork-commit-merge, pull requests merged in 2023-08, with the labels that each got.

#53 added return statement to greet function
  tasks/typescript/easy/index.ts
Labels: Extra Small

#58 Fixed issue
  tasks/typescript/easy/index.ts
Labels: Extra Small

#62 Fix #40 second try
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#68 fixed the css issue
  tasks/css/easy/styles.css
Labels: Extra Small

#74 Implement Search and filter methods
  tasks/javascript/hard/src/library.js
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#73 properly formatted directory in introduction.md
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#71 Fixed Issue
  tasks/css/easy/styles.css
Labels: Extra Small

#72 Fork, Commit, Merge - Medium Issue (JavaScript) #63
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#80 Update number_list.py
  tasks/python/easy/number_list.py
Labels: Extra Small

#82 Fixed issue (JSON) #76
  tasks/json/easy/users.json
Labels: Extra Small

#84 Fixed issue (TypeScript) #54
  tasks/typescript/easy/index.ts
Labels: Extra Small

#85 created an array of objects which contains json data
  tasks/json/easy/users.json
Labels: Extra Small

#86 Fixed issue - Python
  tasks/python/easy/number_list.py
Labels: Extra Small

#87 markdown correct formatting
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#88 added style rules to card class
  tasks/css/medium/styles.css
Labels: Extra Small

#83 Fixed issue Easy Issue (Markdown) #75
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#89 Update number_list.py
  tasks/python/easy/number_list.py
Labels: Extra Small

#94 greetings
  tasks/typescript/easy/index.ts
Labels: Extra Small

#97 Python task (easy)
  tasks/python/easy/number_list.py
Labels: No Changes

#96 js test passed
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#98 JS issues fixed
  tasks/javascript/hard/src/library.js
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#99 Fork, Commit, Merge - Hard Issue (JavaScript) #42 Resolved
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#100 fixed issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#104 Fork, Commit, Merge - Easy Issue (Python) #79 Solved
  tasks/python/easy/number_list.py
Labels: Extra Small

#106 Fixed issue:Fork, Commit, Merge - Medium Issue (CSS)
  tasks/css/medium/styles.css
Labels: Extra Small

#107 Fix issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#116 Updated the PR and recommitted it(Tailwind-Card)
  tasks/tailwind/easy/index.html
Labels: Small

#119 Fix: Medium Issue (css)
  tasks/css/easy/styles.css
  tasks/css/medium/styles.css
Labels: Extra Small

#120 Fix: JavaScript Medium Issue
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#121 Added a form with the necessary fields
  tasks/html/medium/index.html
Labels: Extra Small

#122 Ready to add
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#126 Resolved #111
  tasks/html/medium/index.html
Labels: Extra Small

#127 Resolved #114
  tasks/rust/medium/src/main.rs
  tasks/rust/medium/target/.rustc_info.json
  tasks/rust/medium/target/debug/.fingerprint/medium-39252085f3122174/bin-medium
  tasks/rust/medium/target/debug/.fingerprint/medium-39252085f3122174/bin-medium.json
  tasks/rust/medium/target/debug/.fingerprint/medium-39252085f3122174/dep-bin-medium
  tasks/rust/medium/target/debug/.fingerprint/medium-39252085f3122174/invoked.timestamp
  tasks/rust/medium/target/debug/deps/medium.d
  tasks/rust/medium/target/debug/deps/medium.exe
  tasks/rust/medium/target/debug/deps/medium.pdb
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/104cqbpy7xmxd9y.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/11qai79fnj652wio.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/13v7vzf0cl6lp4wx.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/16y6ve8ecaevhsvn.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1akiac06g92gdfg3.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1erus7cza0zpdk3r.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1fl2yrsha6970z0j.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1mg8ghzvpe11xval.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1mq4va4zrbxwavp5.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/1tfna5a2mhvbmtm8.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/26p15dim7raiczro.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/2yl1qqkgkn5n7qso.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/3ju7xwku1pag5ppb.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/3zebhdokqn4pxopz.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/41dcr4gmti5ympw2.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/4b9jcu2i199iqxvj.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/4glfmtwrfxfm5go.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/4h1jkczrr73vki15.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/4sauuko3ozdjftv.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/52fgd3riwvq3s7nc.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/8c1kpyqsujtw1rv.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/c35qcaskqn03c8o.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/dep-graph.bin
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/itmum7l8qnd0znv.o
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/query-cache.bin
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l-4tmp8rpv7gw8jdk7naerf7dj0/work-products.bin
  tasks/rust/medium/target/debug/incremental/medium-3seg7ujnw9udz/s-gnog44ky2y-19xwh8l.lock
  tasks/rust/medium/target/debug/medium.d
  tasks/rust/medium/target/debug/medium.exe
  tasks/rust/medium/target/debug/medium.pdb
Labels: Extra Small

#133 Update index.html
  tasks/html/easy/index.html
Labels: Extra Small

#135 Fix: Medium Issue Markdown
  tasks/markdown/medium/guide.md
Labels: Extra Small

#134 Fix: Medium Issue (CSS)
  tasks/css/medium/styles.css
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#136 Fix: Easy Issue Markdown
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#143 fixing issue #141
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#144 python program to interact with lists
  tasks/python/easy/number_list.py
Labels: Extra Small

#145 Do number_list.py in python/easy
  tasks/python/easy/number_list.py
Labels: Extra Small

#146 Added necessary CSS
  tasks/css/medium/styles.css
Labels: Extra Small

#148 Fix: Hard issue Markdown
  tasks/markdown/hard/adventure/start.md
Labels: Extra Small

#152 completed task html-medium
  tasks/html/medium/index.html
Labels: Extra Small

#158 JSON file
  tasks/css/medium/styles.css
  tasks/javascript/medium/tests/library.test.js
  tasks/json/easy/users.json
Labels: Extra Small

#160 Fixed issue of easy HTML task
  tasks/html/easy/index.html
Labels: Extra Small

#159 Fix issue
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#166 Fixed issue
  tasks/typescript/easy/index.ts
Labels: Extra Small

#167 HTML Form Added
  tasks/html/medium/index.html
Labels: Extra Small

#168 Updated index.html added Contact Form
  tasks/html/medium/index.html
Labels: Extra Small

#170 gurnav:fix/easy-html-issue
  tasks/html/easy/index.html
Labels: Extra Small

#177 code written
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#179 Created card component
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#189 Fixed issue: C++ easy task
  tasks/c++/easy/tempConverter.cpp
  tasks/c++/easy/tempConverter.exe
Labels: Extra Small

#190 Fixed issue javascript hard
  package-lock.json
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#191 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#192 Hello World in Go
  tasks/go/easy/hello.go
Labels: Extra Small

#195 Bootstrap Easy issue fixed
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#197 Fixed issue
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#204 Fixed issue-Easy HTML task
  tasks/html/easy/index.html
Labels: Extra Small

#205 Added Solution of GreetingApp.java
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#206 Add Fibonacci sequence function implementation
  tasks/swift/easy/fibonacci.swift
Labels: Extra Small

#207 Created Card Component
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#209 fixed issue-easy html task
  tasks/html/easy/index.html
Labels: Extra Small

#210 Create a simple card component in React that displays a random image
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#211 ts-updated
  tasks/tailwind/package-lock.json
  tasks/tailwind/styles.css
  tasks/typescript/easy/index.ts
Labels: Extra Small

#215 Fork, Commit, Merge - Easy Issue (C) #202
  tasks/c/easy/a.exe
  tasks/c/easy/sum.c
Labels: Extra Small

#219 Create product list with names and prices
  package-lock.json
  tasks/nextjs/easy/nextjs-easy/src/pages/index.tsx
  tasks/vue/medium/vue-task-list/.eslintrc.js
  tasks/vue/medium/vue-task-list/package-lock.json
  tasks/vue/medium/vue-task-list/package.json
  tasks/vue/medium/vue-task-list/src/components/TaskList.vue
  tasks/vue/medium/vue-task-list/src/main.css
  tasks/vue/medium/vue-task-list/src/main.js
  tasks/vue/medium/vue-task-list/vue.config.js
Labels: Large

#221 created card component
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#222 Fixed issue: Medium Issue (TypeScript) #131
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#226 react card component added
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#224 Create a sample product list with names and prices
  tasks/nextjs/easy/nextjs-easy/src/pages/index.tsx
Labels: No Changes

#242 Finished Number List
  tasks/python/easy/number_list.py
Labels: Extra Small

#243 Fixed Medium issue (CSS)
  tasks/css/medium/styles.css
Labels: Extra Small

#245 Added card component
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#246 Updated styles.css
  tasks/css/easy/styles.css
Labels: Extra Small

#249 Fixed issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#251 fixed-issue
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#252 updated JSON file
  tasks/json/easy/users.json
Labels: Extra Small

#253 updated library.test.js to pass all the test
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#254 Fixed issue
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#255 made the h1
  tasks/css/easy/styles.css
Labels: Extra Small

#258 Update styles.css
  tasks/css/easy/styles.css
Labels: Extra Small

#259 Update styles.css
  tasks/css/medium/styles.css
Labels: Extra Small

#263 Fixed #241
  tasks/css/easy/styles.css
Labels: Extra Small

#266 Fix #238
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#269 Update index.html
  tasks/html/easy/index.html
Labels: Extra Small

#277 Adding Contact Form to '/tasks/html/medium/index.html'
  tasks/html/medium/index.html
Labels: Extra Small

#278 Update index.html
  tasks/html/medium/index.html
Labels: Extra Small

#287 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#288 Fixed #239
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#292 Update README.md
  README.md
Labels: No Changes

#291 fix: fixed landing-page
  tasks/bootstrap/medium/landing-page.html
Labels: medium

#294 Fixed issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#295 added a hello world print to /
  tasks/flask/easy/app.py
Labels: Extra Small

#296 Fixed Issue
  tasks/json/easy/users.json
Labels: Extra Small

#299 Update number_list.py
  tasks/python/easy/number_list.py
Labels: Extra Small

#301 fixed
  tasks/html/easy/index.html
Labels: Extra Small

#303 Added C++ Code
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#304 fix: added card component
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#305 Fixed issue
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#308 Fixed issue
  tasks/css/hard/card.css
Labels: Extra Small

#309 Hard Issue (JavaScript) #300
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#312 Fixed issue #95
  tasks/go/easy/hello.go
Labels: Extra Small

#313 done
  tasks/css/hard/card.css
Labels: Extra Small

#314 feat: Add route for root URL returning "Hello, Flask!"
  tasks/flask/easy/app.py
Labels: Extra Small

#315 feat: added sample product list
  tasks/nextjs/easy/nextjs-easy/src/pages/index.tsx
Labels: Extra Small

#317 Fixed issue #79
  tasks/python/easy/number_list.py
Labels: Extra Small

#318 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#319 Fixed issue
  tasks/javascript/hard/src/library.js
Labels: Small

#320 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#321 Update GreetingApp.java
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#322 issue fix in index.html
  tasks/html/easy/index.html
Labels: Extra Small

#323 #236 issue is resolved
  tasks/html/easy/index.html
Labels: Extra Small

#316 Fixed issue
  tasks/html/medium/index.html
Labels: Extra Small

#325 Issued fix
  tasks/css/easy/styles.css
Labels: Extra Small

#326 Fixed the CSS issue of changing h1 color from black to red
  tasks/css/easy/styles.css
Labels: Extra Small

#330 Fix issue medium html
  .DS_Store
  tasks/.DS_Store
  tasks/html/.DS_Store
  tasks/html/medium/index.html
Labels: Extra Small

#331 Django Easy Issue #324 SOLVED
  tasks/django/easy/hello_world/hello_world/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/settings.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/urls.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/wsgi.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/urls.py
  tasks/django/easy/hello_world/hello_world_app/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/admin.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/apps.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/models.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/urls.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/views.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/migrations/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/views.py
Labels: Extra Small

#332 Added 3D rotating card effect
  tasks/css/hard/card.css
  tasks/css/hard/card.html
Labels: Extra Small

#334 Update stackhawk.yml
  .github/workflows/stackhawk.yml
Labels: Extra Small

#340 Bezalel 7 patch 1
  tasks/c++/medium/FileHandler.cpp
  tasks/c++/medium/FileHandler.h
Labels: Extra Small

#341 Fixed issue
  tasks/nextjs/easy/nextjs-easy/src/pages/index.tsx
Labels: No Changes

#344 Fixes: Medium Issue (CSS)
  tasks/css/medium/styles.css
Labels: Extra Small

#346 concatenated string
  tasks/php/easy/index.php
Labels: Extra Small

#348 Edited the HTML page
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Small

#349 feat: added calculator
  js/easy/index.js
  js/medium/calculator.js
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#352 fixed issue
  tasks/javascript/medium/tests/library.test.js
Labels: Extra Small

#358 Fixes issue #264
  tasks/css/easy/styles.css
Labels: Extra Small

#360 Greet Function in typescript
  tasks/typescript/easy/index.ts
Labels: Extra Small

#364 Calculator Implement
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#365 fix-issue-236
  tasks/html/easy/index.html
Labels: Extra Small

#367 feat: Added greeting in Java
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#382 Fix issue hard html
  .gitignore
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Large

#383 Completed Bubble Sort Task
  tasks/python/medium/bubble_sort.py
Labels: Extra Small
