Repository fork-commit-merge/fork-commit-merge, pull requests merged in 2023-09, with the labels that each got.

#384 Completed C CSV task
  tasks/c/medium/read_csv.c
Labels: Extra Small

#385 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#387 Card in tailwindcss #370
  tasks/tailwind/easy/index.html
Labels: Small

#389 Fix issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#390 update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#391 Update bubble_sort.py
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#393 Update bubble_sort.py
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#394 created search and filter function
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#398 fixed tailwind issue
  tasks/tailwind/easy/index.html
  tasks/tailwind/output.css
  tasks/tailwind/package-lock.json
Labels: Large

#399 Update index.html
  tasks/html/easy/index.html
Labels: Extra Small

#400 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#401 Update styles.css
  tasks/css/medium/styles.css
Labels: Extra Small

#403 fixes-issue-335
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#404 algorithm for bubble_sort
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#405 #264 issue (CSS Easy) is fixed
  tasks/css/easy/styles.css
Labels: Extra Small

#407 Task Done (number_list) Python-easy
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.GeneratedMSBuildEditorConfig.editorconfig
  tasks/python/easy/number_list.py
Labels: Extra Small

#408 Fixed issue #378
  tasks/javascript/easy/sum.js
Labels: Extra Small

#409 Fork, Commit, Merge - Hard Issue (CSS) #307
  tasks/css/hard/card.css
Labels: Extra Small

#410 Fixed issue #368
  tasks/html/easy/index.html
Labels: Extra Small

#413 Update bubble_sort.py
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#414 Creating my first full request for my first open source contribution,…
  tasks/html/easy/index.html
Labels: Extra Small

#416 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#417 Implement Hello World!
  tasks/go/easy/hello.go
Labels: Extra Small

#418 Fix issue java easy
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#419 Set up hello world file
  tasks/f#/easy/HelloWorld.fs
Labels: Extra Small

#420 feat: Created a Web Page
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Small

#423 changes in #369 issue
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
  tasks/javascript/hard/src/library.js
Labels: Large

#424 Fixed issue
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#425 Added card in Tailwind
  tasks/tailwind/easy/index.html
  tasks/tailwind/output.css
  tasks/tailwind/package-lock.json
Labels: medium

#431 Fixed Issue Java Medium
  tasks/java/medium/Calculator.java
  tasks/javascript/easy/sum.js
Labels: Extra Small

#432 Fixed issue
  tasks/javascript/easy/sum.js
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#435 Json Parsing and manipulation
  tasks/json/medium/processJSON.js
  tasks/json/medium/updated_data.json
Labels: Extra Small

#436 task: JSON processing done
  tasks/json/medium/processJSON.js
  tasks/json/medium/updated_data.json
Labels: Extra Small

#437 added sum function in js file
  tasks/javascript/easy/sum.js
Labels: Extra Small

#438 [FIXED]: Created a calculator in Java
  tasks/java/medium/Calculator.java
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#440 Update index.html
  tasks/html/easy/index.html
Labels: Extra Small

#455 Implement search & filter functionality
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#456 Sum function
  tasks/c/easy/sum
  tasks/c/easy/sum.c
Labels: Extra Small

#457 Update Calculator.java
  tasks/java/medium/Calculator.java
Labels: Extra Small

#458 C++ Hard problem solved
  tasks/c++/hard/mystring.cpp
  tasks/c++/hard/mystring.h
Labels: Small

#459 [Snyk] Upgrade eslint-config-next from 13.4.16 to 13.4.18
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#460 [Snyk] Upgrade next from 13.4.16 to 13.4.18
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#461 [Snyk] Upgrade autoprefixer from 10.4.14 to 10.4.15
  tasks/tailwind/package-lock.json
  tasks/tailwind/package.json
Labels: Extra Small

#462 Pull request for Easy Issue (C)
  tasks/c/easy/sum.c
Labels: Extra Small

#465 added bubble sort algorithm
  tasks/c++/easy/tempConverter.cpp
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#466 Easy Issue (C++) #450 Fixed
  tasks/c++/easy/tempConverter.cpp
  tasks/html/easy/index.html
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Small

#467 Fixed issue #447
  tasks/python/easy/number_list.py
Labels: Extra Small

#468 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#469 Fixed issue #445
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#470 Fix issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#471 fix:Add a Simple Program That Prints The Sum of Two Numbers
  tasks/javascript/easy/sum.js
Labels: Extra Small

#473 Created a Simple Greeting Application Using Java
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#474 [Snyk] Upgrade autoprefixer from 10.4.14 to 10.4.15
  tasks/tailwind/package-lock.json
  tasks/tailwind/package.json
Labels: Extra Small

#476 Patch 1
  tasks/flutter/easy/hello_flutter/lib/main.dart
Labels: Extra Small

#477 Added 3D card flip effect using CSS
  tasks/css/hard/card.css
Labels: Extra Small

#478 Fixed issue #339
  tasks/typescript/easy/index.ts
Labels: Extra Small

#479 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#483 #279 "Hello Flask!
  tasks/flask/easy/app.py
Labels: Extra Small

#480 [Snyk] Upgrade eslint-config-next from 13.4.16 to 13.4.19
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#482 [Snyk] Upgrade @types/node from 20.5.0 to 20.5.1
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#481 [Snyk] Upgrade next from 13.4.16 to 13.4.19
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#486 feat: Updated Zig program to print 'Hello, World!' to the console.
  tasks/zig/easy/hello.zig
Labels: Extra Small

#487 Fixed Issue
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#488 Update add_numbers.dart
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#489 fixed issue
  tasks/vyper/easy/StringManager.vy
Labels: Extra Small

#490 [Snyk] Upgrade next from 13.4.16 to 13.4.19
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#491 [Snyk] Upgrade @types/node from 20.5.0 to 20.5.1
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#494 C++ east task - temperature converter
  tasks/c++/easy/tempConverter.cpp
  tasks/c++/easy/tempConverter.exe
Labels: Extra Small

#498 Fixed Issue
  tasks/java/medium/Calculator.java
Labels: Extra Small

#500 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#501 Add files via upload
  GreetingProgram.java
Labels: Extra Small

#502 Fixed Issue 497
  tasks/javascript/easy/sum.js
Labels: Extra Small

#503 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#504 updated_data.json file Done as per Requirement👍
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
  tasks/json/medium/processJSON.js
  tasks/json/medium/updated_data.json
Labels: Large

#505 Update index.php
  tasks/php/easy/index.php
Labels: Extra Small

#506 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#509 Html hard
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
  tasks/javascript/easy/sum.js
Labels: Small

#508 Fixed Issue 497
  tasks/javascript/easy/sum.js
Labels: Extra Small

#511 Update sum.c
  tasks/c/easy/sum.c
Labels: Extra Small

#517 Update create_files.sh
  tasks/bash/easy/create_files.sh
Labels: Extra Small

#519 tests
  README.md
Labels: documentation

#520 Issue #495 and #422
  tasks/java/medium/Calculator.java
  tasks/three/easy/cubeScene.js
Labels: Extra Small

#521 Update sum.js
  tasks/javascript/easy/sum.js
Labels: Extra Small

#522 Fixed Issue
  tasks/html/easy/index.html
Labels: Extra Small

#523 Update index.html
  tasks/html/medium/index.html
Labels: Extra Small

#524 [Snyk] Upgrade @types/node from 20.5.1 to 20.5.3
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#525 [Snyk] Upgrade @types/react from 18.2.20 to 18.2.21
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#527 ghulamali16: FCM: Solved Fibonacci problem rust task
  tasks/rust/easy/fibonacci.rs
Labels: Extra Small

#529 Update number_list.py
  tasks/python/easy/number_list.py
Labels: Extra Small

#530 Update Calculator.java
  tasks/java/medium/Calculator.java
Labels: Extra Small

#537 html hard challenge
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Small

#538 [FIXED]: Updated the website
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
Labels: Small

#539 [Snyk] Upgrade typescript from 5.1.6 to 5.2.2
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#540 [Snyk] Upgrade @types/node from 20.5.3 to 20.5.6
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#541 added information about person
  tasks/html/easy/index.html
Labels: Extra Small

#542 fibfunctionalOptimized
  tasks/rust/easy/fibonacci.exe
  tasks/rust/easy/fibonacci.pdb
  tasks/rust/easy/fibonacci.rs
Labels: Extra Small

#543 Added a header tag with the appropriate content
  tasks/html/easy/index.html
Labels: Extra Small

#545 Added sum function to tasks/c/easy/sum.c
  tasks/c/easy/sum.c
Labels: Extra Small

#546 #533 Creates a card with random images
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#547 Fixes #543 by addition of a new h1 tag
  tasks/html/easy/index.html
Labels: Extra Small

#548 [Snyk] Upgrade eslint from 8.47.0 to 8.48.0
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#554 Update markdown/easy.md
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#555 Fixed issue
  tasks/laravel/easy/greeting_app/package-lock.json
  tasks/laravel/easy/greeting_app/routes/web.php
Labels: Extra Small

#556 Added the H1 Tag
  tasks/html/easy/index.html
Labels: Extra Small

#557 markdown updated
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#558 Styled the card element
  tasks/tailwind/easy/index.html
  tasks/tailwind/output.css
Labels: Large

#559 Update introduction.md
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#560 feat: sum of numbers
  tasks/javascript/easy/sum.js
Labels: Extra Small

#561 Fixed markdown wrong formatting
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#576 c++ easy
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#584 Fixed issue
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#585 Update addition.m
  tasks/matlab/easy/addition.m
Labels: Extra Small

#586 implemented Addnumbers in Dart
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#588 price list with tailwind css
  tasks/tailwind/medium/index.html
Labels: Small

#589 Num list python
  tasks/python/easy/number_list.py
Labels: Extra Small

#590 [Snyk] Upgrade @types/node from 20.5.6 to 20.5.7
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#592 dart-easy task completed
  .DS_Store
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#593 Update create_users.sql
  tasks/sql/easy/create_users.sql
Labels: Extra Small

#594 Update FactorialCalculator.scala
  tasks/scala/easy/FactorialCalculator.scala
Labels: Extra Small

#595 Aditya adhane patch 1
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#596 added react card component
  tasks/react/easy/react-easy/src/App.jsx
  tasks/react/easy/react-easy/src/Card.jsx
Labels: Extra Small

#597 task done: flutter easy
  tasks/flutter/easy/hello_flutter/lib/main.dart
Labels: Extra Small

#599 Fixed issue: setter and getter function solidity
  tasks/solidity/easy/my_simple_storage/contracts/SimpleStorage.sol
Labels: Extra Small

#600 #289 and #497 Issues (JavaScript) done.
  tasks/javascript/easy/sum.js
  tasks/javascript/medium/tests/library.test.js
  tasks/react/easy/react-easy/src/App.jsx
Labels: Extra Small

#604 [Snyk] Upgrade postcss from 8.4.28 to 8.4.29
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#610 Implemented search and filter functionality
  tasks/javascript/hard/src/library.js
Labels: Extra Small

#611 Added h1 tag to hello astro page
  tasks/astro/easy/hello/src/pages/index.astro
Labels: Extra Small

#613 My first open-source commit. Solved :)
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#614 Task Completed
  tasks/bash/easy/create_files.sh
Labels: Extra Small

#615 Fix issue #256
  tasks/c++/medium/FileHandler.cpp
  tasks/c++/medium/FileHandler.h
Labels: Small

#616 angular header
  tasks/angular/easy/hello/src/app/app.component.css
  tasks/angular/easy/hello/src/app/app.component.html
Labels: Extra Small

#617 navbar enhancement
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#623 responsive landing page using bootstrap
  tasks/bootstrap/medium/landing-page.html
Labels: medium

#626 Fix #447
  tasks/python/easy/number_list.py
Labels: Extra Small

#628 sass issue - formatting and styling
  tasks/sass/easy/styles.scss
Labels: Extra Small

#629 Add sass styling and formatting
  tasks/sass/easy/styles.scss
Labels: Extra Small

#631 css/easy/color-red
  tasks/css/easy/styles.css
Labels: Extra Small

#633 Fixed-Issue
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#634 Update Calculator.java
  tasks/java/medium/Calculator.java
Labels: Extra Small

#635 [Snyk] Upgrade @types/node from 20.5.7 to 20.5.8
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#654 [Feat]:changed the color of the h1 to red
  tasks/css/easy/styles.css
Labels: Extra Small

#655 Task done: HTML easy
  tasks/html/easy/index.html
Labels: Extra Small

#656 Fixed issue
  tasks/html/medium/index.html
Labels: Extra Small

#657 CSS Easy task fixed
  tasks/css/easy/styles.css
Labels: Extra Small

#658 Fixed issue
  tasks/htmx/easy/index.html
Labels: Extra Small

#659 Fixed CSS Medium task
  tasks/css/medium/styles.css
Labels: Extra Small

#660 Update index.html
  tasks/htmx/easy/index.html
Labels: Extra Small

#661 Implement bubble_sort.py
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#663 first_commit
  tasks/flask/easy/app.py
Labels: Extra Small

#664 Fixed-issue
  tasks/html/easy/index.html
Labels: Extra Small
