Repository fork-commit-merge/fork-commit-merge, pull requests merged in 2023-11, with the labels that each got.

#1386 Responsive Pricing Table Using Tailwind CSS
  tasks/javascript/medium/script.js
  tasks/tailwind/medium/index.html
  tasks/tailwind/output.css
Labels: Large

#1388 issue #956
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#1390 Fixed issue - fire css
  tasks/css/medium/fire/styles.css
Labels: Extra Small

#1393 Fixed issue
  tasks/nextjs/easy/nextjs-easy/src/pages/index.tsx
Labels: Extra Small

#1391 [Snyk] Upgrade @types/react-dom from 18.2.12 to 18.2.13
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1392 [Snyk] Upgrade @types/react from 18.2.27 to 18.2.28
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1394 Fix the medium issue of JavaScript
  tasks/javascript/medium/script.js
Labels: Extra Small

#1395 Fixed issue - javascript medium issue + fire css issue
  tasks/css/medium/fire/styles.css
  tasks/javascript/medium/script.js
Labels: Large

#1396 Feat[#1389]:Fork, Commit, Merge - Easy Issue (Kubernetes/YAML)
  tasks/kubernetes/easy/nginx-deployment.yaml
Labels: Extra Small

#1397 Solves issue #1373 Fork, Commit, Merge - Hard Issue (HTML/CSS/JavaScript) #1373
  tasks/html/hard/clock/index.html
  tasks/html/hard/clock/index.js
  tasks/html/hard/clock/style.css
Labels: medium

#1398 Update index.html by Hung
  tasks/html/medium/index.html
Labels: Extra Small

#1399 Fixed issue
  disk_monitor.sh
Labels: Extra Small

#1401 Fixed issue
  tasks/html/easy/index.html
Labels: Extra Small

#1403 Fixed issue
  tasks/c/easy/sum.c
Labels: Extra Small

#1404 Fixed issue
  tasks/c++/easy/hello.cpp
Labels: Extra Small

#1405 FEAT[#942]:Fork, Commit, Merge - Easy Issue (YAML)
  tasks/yaml/easy/config.yaml
Labels: Extra Small

#1406 Read and Display a CSV File
  tasks/c/medium/read_csv.c
Labels: Extra Small

#1407 [Snyk] Upgrade @types/node from 20.8.4 to 20.8.5
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1408 [#1037]:Fork, Commit, Merge - Easy Issue (JSON)
  tasks/json/easy/users.json
Labels: Extra Small

#1409 Fixed issue
  tasks/xml/easy/book_store.xml
Labels: Extra Small

#1410 Fixed issue
  tasks/c++/easy/sum.cpp
Labels: Extra Small

#1419 Fixed issue
  tasks/typescript/easy/index.ts
Labels: Extra Small

#1420 Fixed issue
  tasks/express/easy/app.js
Labels: Extra Small

#1422 Easy Issue (TypeScript) #1415
  tasks/typescript/easy/index.ts
Labels: Extra Small

#1423 did python easy taskcommitt
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.GeneratedMSBuildEditorConfig.editorconfig
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.assets.cache
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.csproj.AssemblyReference.cache
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/apphost.exe
  tasks/python/easy/number_sum.py
Labels: Extra Small

#1424 Add code for number_sum
  tasks/python/easy/number_sum.py
Labels: Extra Small

#1425 Fork, Commit, Merge - Easy Issue (HTML)
  tasks/html/easy/index.html
Labels: Extra Small

#1426 Fork, Commit, Merge - Medium Issue
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.GeneratedMSBuildEditorConfig.editorconfig
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.assets.cache
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.csproj.AssemblyReference.cache
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/apphost.exe
  tasks/html/medium/index.html
Labels: Extra Small

#1427 ADD[#1058]:Create a simple Contact form
  tasks/html/medium/index.html
  tasks/html/medium/styles.css
Labels: Extra Small

#1429 Hua Hien Vinh
  tasks/javascript/medium/script.js
Labels: Extra Small

#1430 Huynh Van Khai
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#1431 Implemented the 'Hello, React Native!' app
  tasks/react-native/easy/hello/.expo/README.md
  tasks/react-native/easy/hello/.expo/settings.json
  tasks/react-native/easy/hello/App.tsx
Labels: Extra Small

#1432 guide for markdown solves #1418
  tasks/markdown/medium/guide.md
Labels: medium

#1434 implementing issue
  tasks/java/hard/Frequency.java
Labels: Extra Small

#1435 Create a simple Contact form
  tasks/html/medium/index.html
Labels: Extra Small

#1437 Update guide.md
  tasks/markdown/medium/guide.md
Labels: Extra Small

#1438 Fix issue
  tasks/java/medium/Calculator.java
Labels: Extra Small

#1456 Create a functional clock by HTML, CSS, JavaScript
  tasks/html/hard/clock/index.html
  tasks/html/hard/clock/index.js
  tasks/html/hard/clock/style.css
Labels: Large

#1459 completed all the html issues except clock
  tasks/css/easy/styles.css
  tasks/css/hard/card.css
  tasks/css/medium/card/index.html
  tasks/css/medium/card/styles.css
  tasks/css/medium/fire/styles.css
  tasks/html/easy/index.html
  tasks/html/hard/clock/index.html
  tasks/html/hard/index.html
  tasks/html/hard/styles.css
  tasks/html/medium/index.html
Labels: medium

#1460 Thach Quang Khai
  tasks/python/easy/number_list.py
Labels: Extra Small

#1463 Fork, Commit, Merge - Medium Issue 1
  tasks/css/medium/card/styles.css
Labels: Extra Small

#1464 Fixed issue
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#1465 Fixed issue contact
  tasks/html/medium/index.html
Labels: Extra Small

#1466 Fixed issue
  tasks/html/medium/index.html
Labels: Extra Small

#1461 [Snyk] Upgrade eslint-config-next from 13.5.4 to 13.5.5
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1462 [Snyk] Upgrade next from 13.5.4 to 13.5.5
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1467 Fixed issue
  tasks/css/medium/card/styles.css
Labels: Extra Small

#1478 Fixed issue
  tasks/html/easy/index.html
Labels: Extra Small

#1479 Easy task c# HelloUser written
  tasks/c#/easy/HelloUser/Program.cs
Labels: Extra Small

#1480 Fixed issue
  tasks/html/easy/index.html
Labels: Extra Small

#1485 Fixed issue
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#1486 dec_trees
  tasks/python/hard/decision_tree.py
Labels: Small

#1487 Forked and Committed for learning purpose, Please provide a feedback …
  tasks/c/easy/sum.c
Labels: Extra Small

#1488 add two number with dart
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#1489 [Snyk] Upgrade eslint-config-next from 13.5.5 to 13.5.6
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1491 [Snyk] Upgrade @types/react-dom from 18.2.13 to 18.2.14
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1492 [Snyk] Upgrade @types/react from 18.2.28 to 18.2.29
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1493 [Snyk] Upgrade @types/node from 20.8.6 to 20.8.7
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1494 fix-issue-5
  tasks/html/hard/index.html
Labels: Extra Small

#1495 Added python file for adding two numbers
  tasks/python/easy/number_sum.py
Labels: Extra Small

#1496 num count using map
  tasks/java/hard/Frequency.java
Labels: Extra Small

#1498 [Snyk] Upgrade @types/react from 18.2.29 to 18.2.31
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1499 [Snyk] Upgrade eslint from 8.51.0 to 8.52.0
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1500 [Snyk] Upgrade vue from 3.3.4 to 3.3.6
  tasks/vue/medium/vue-task-list/package-lock.json
  tasks/vue/medium/vue-task-list/package.json
Labels: Extra Small

#1501 [Snyk] Upgrade core-js from 3.33.0 to 3.33.1
  tasks/vue/medium/vue-task-list/package-lock.json
  tasks/vue/medium/vue-task-list/package.json
Labels: Extra Small
