Repository fork-commit-merge/fork-commit-merge, pull requests merged in 2023-10, with the labels that each got.

#737 fix HTML medium issue
  tasks/html/medium/index.html
Labels: Extra Small

#738 Fixed Python easy issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#739 fix: Easy Issue (Django)
  tasks/django/easy/hello_world/hello_world/settings.py
  tasks/django/easy/hello_world/hello_world/urls.py
  tasks/django/easy/hello_world/hello_world_app/views.py
Labels: Extra Small

#740 formadded in html
  tasks/html/medium/index.html
Labels: Extra Small

#741 Changed the color of the h1 element to red
  tasks/css/easy/styles.css
Labels: Extra Small

#742 Update greet function
  tasks/typescript/easy/index.ts
Labels: Extra Small

#743 Fork, Commit, Merge - Easy Issue (HTML) #535 & Fork, Commit, Merge - Medium Issue (HTML) #645 resolved
  tasks/django/easy/hello_world/db.sqlite3
  tasks/django/easy/hello_world/hello_world/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/settings.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/urls.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/views.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/wsgi.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world/urls.py
  tasks/django/easy/hello_world/hello_world_app/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/admin.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/apps.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/models.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/urls.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/views.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/migrations/__pycache__/__init__.cpython-311.pyc
  tasks/django/easy/hello_world/hello_world_app/urls.py
  tasks/django/easy/hello_world/hello_world_app/views.py
  tasks/html/easy/index.html
Labels: medium

#744 Addressing #577
  tasks/c#/easy/HelloUser/Program.cs
Labels: Extra Small

#745 Fixed Typescript easy issue
  tasks/typescript/easy/index.ts
Labels: Extra Small

#746 XML Representation of a Bookstore
  tasks/xml/easy/book_store.xml
Labels: Extra Small

#747 Easy Issue (JSON) #648
  tasks/json/easy/users.json
Labels: Extra Small

#748 Markdown Guide
  tasks/markdown/medium/guide.md
Labels: Extra Small

#749 Fix: Hard Issue CSS
  tasks/css/hard/card.css
Labels: Extra Small

#750 Fixed issue
  tasks/angular/easy/hello/src/app/app.component.html
Labels: Extra Small

#751 fixes issue #726
  tasks/typescript/easy/index.ts
Labels: Extra Small

#752 js medium
  tasks/javascript/medium/script.js
Labels: Extra Small

#753 "fix : Implement a Simple File Reader/Writer Class and Methods in C++"
  tasks/c++/medium/FileHandler.cpp
  tasks/c++/medium/FileHandler.h
  tasks/c++/medium/filehandler.exe
  tasks/c++/medium/text-file.txt
Labels: Extra Small

#754 Update index.html
  tasks/html/medium/index.html
Labels: Extra Small

#756 Easy task sql
  tasks/sql/easy/create_users.sql
Labels: Extra Small

#757 contact form HTML added
  tasks/html/medium/index.html
  tasks/html/medium/styles.css
Labels: Small

#758 Create http express server
  tasks/express/easy/app.js
Labels: Extra Small

#759 Added red class to h1
  tasks/css/easy/styles.css
Labels: Extra Small

#760 modified index.ts
  tasks/typescript/easy/index.ts
Labels: Extra Small

#761 fixes #724 - typescript medium issue.
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#762 Update sum.c
  tasks/c/easy/sum.c
Labels: Extra Small

#763 Create sum function in elixir
  tasks/elixir/easy/elixir_sum_list/lib/elixir_sum_list.ex
Labels: Extra Small

#765 Implement hello resolve graphql
  tasks/graphql/easy/server.js
Labels: Extra Small

#766 Fix: Easy Issue JavaScript
  tasks/javascript/easy/sum.js
Labels: Extra Small

#767 Fix Jest test scenarios
  package.json
  tasks/javascript/jest/medium/tests/library.test.js
Labels: Extra Small

#768 Modified script.js file to add countdown
  tasks/javascript/medium/script.js
Labels: Extra Small

#769 Update index.html
  tasks/html/medium/index.html
Labels: Extra Small

#736 Add Question For Dart And Php Easy Program
  tasks/dart/easy/count_lenght.dart
  tasks/dart/easy/mean_array.dart
  tasks/dart/easy/type_data_check.dart
  tasks/php/easy/array.php
Labels: Extra Small

#770 Update styles.css
  tasks/css/easy/styles.css
Labels: Extra Small

#775 did task #646 flask easy
  tasks/flask/easy/app.py
Labels: Extra Small

#776 Basic TS calculator function
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#780 FIX #648 Added Json file
  tasks/json/easy/users.json
Labels: Extra Small

#781 "fix: Created a Simple Dart Program to Add Two Numbers"
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#782 Update number_list.py
  tasks/python/easy/number_list.py
Labels: Extra Small

#783 "fix : Create a Function For Counting The Length of a String"
  tasks/dart/easy/count_length.dart
Labels: Extra Small

#784 Stopwatch using Javascript
  tasks/javascript/medium/script.js
Labels: Extra Small

#785 coverted temperature in celsius to fahrenheit
  tasks/c++/easy/tempConverter.cpp
  tasks/c++/easy/tempConverter.exe
Labels: Extra Small

#786 Css medium
  tasks/css/medium/styles.css
Labels: Extra Small

#787 fix: Implement a Function That Returns The Mean
  tasks/dart/easy/mean_array.dart
Labels: Extra Small

#788 added a <h1> tag with John Doe
  tasks/html/easy/index.html
Labels: Extra Small

#789 Added all the necessary classes for css and other the logo all links …
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#790 Bootstrap easy
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#778 [Snyk] Upgrade eslint from 8.48.0 to 8.49.0
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#779 [Snyk] Upgrade @types/node from 20.5.9 to 20.6.0
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#791 fix: Implement a function called typeDataCheck
  tasks/dart/easy/type_data_check.dart
Labels: Extra Small

#792 fix(#771):Dart Program to Add Two Numbers
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#793 Css easy
  tasks/css/easy/styles.css
Labels: Extra Small

#794 Html medium
  tasks/html/medium/index.html
  tasks/html/medium/styles.css
Labels: Small

#795 Solved type script easy greet
  tasks/typescript/easy/index.ts
Labels: Extra Small

#796 Dart Easy #774
  tasks/dart/easy/type_data_check.dart
Labels: Extra Small

#797 created form using HTML
  tasks/html/medium/index.html
Labels: Extra Small

#798 Sum
  tasks/c/easy/sum.c
Labels: Extra Small

#799 Solved typescript medium
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#800 solved-javascript-easy-sum
  tasks/javascript/easy/sum.js
Labels: Extra Small

#801 solved-java-easy
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#802 Solved JavaScript task easy difficulty
  tasks/javascript/easy/sum.js
Labels: Extra Small

#803 added greeting message:Hacktober fest
  tasks/typescript/easy/index.ts
Labels: Extra Small

#804 Typescript medium: Hacktoberfest
  tasks/typescript/medium/calculator.ts
Labels: Extra Small

#805 java easy task
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#806 Solved JavaScript task medium difficulty
  tasks/javascript/medium/script.js
Labels: Extra Small

#807 Fixed issue
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#808 Solved php easy task
  tasks/php/easy/index.php
Labels: Extra Small

#809 Update type_data_check.dart
  tasks/dart/easy/type_data_check.dart
Labels: Extra Small

#810 Calculator using Java
  .idea/.gitignore
  .idea/fork-commit-merge.iml
  .idea/gradle.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  tasks/java/medium/Calculator.java
Labels: Small

#811 made a cpp program that converts temperature
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#812 Fixed Issue
  tasks/python/easy/number_list.py
Labels: Extra Small

#813 Django-Easy SOLVED
  js/easy/index.js
  js/hard/main.js
  js/medium/calculator.js
  js/vitest/easy/src/main.js
  js/vitest/easy/src/sum.js
  js/vitest/easy/src/sum.test.js
  tasks/django/easy/hello_world/db.sqlite3
  tasks/django/easy/hello_world/hello_world/__pycache__/__init__.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/settings.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/urls.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world/__pycache__/wsgi.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world/settings.py
  tasks/django/easy/hello_world/hello_world/urls.py
  tasks/django/easy/hello_world/hello_world_app/__pycache__/__init__.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/admin.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/apps.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/models.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/urls.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/__pycache__/views.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/migrations/__pycache__/__init__.cpython-310.pyc
  tasks/django/easy/hello_world/hello_world_app/urls.py
  tasks/django/easy/hello_world/hello_world_app/views.py
Labels: Small

#815 completed typeDataCheck function
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.GeneratedMSBuildEditorConfig.editorconfig
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.assets.cache
  tasks/c#/easy/HelloUser/obj/Debug/net7.0/HelloUser.csproj.AssemblyReference.cache
  tasks/dart/easy/type_data_check.dart
Labels: Extra Small

#816 Fork, Commit, Merge - Easy Issue (Bootstrap CSS) #650
  tasks/bootstrap/easy/navbar.html
Labels: Extra Small

#817 Fork, Commit, Merge - Easy Issue (CSS) #643
  tasks/bootstrap/easy/navbar.html
  tasks/css/easy/styles.css
Labels: Extra Small

#818 Fork, Commit, Merge - Easy Issue (Python) #447
  tasks/python/easy/number_list.py
Labels: Extra Small

#819 Fork, Commit, Merge - Easy Issue (PHP) #375
  tasks/php/easy/index.php
Labels: Extra Small

#820 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#821 Fixed Issue 650
  tasks/bootstrap/easy/navbar.html
Labels: Small

#822 Fork, Commit, Merge - Medium Issue (JavaScript) #703
  tasks/javascript/medium/script.js
Labels: Extra Small

#823 Fixed Issue 643
  tasks/css/easy/styles.css
Labels: Extra Small

#824 Fixed Issue 552
  tasks/css/easy/styles.css
  tasks/markdown/easy/introduction.md
Labels: Extra Small

#825 Implemented a Function That Returns a String Describing Its Data Type
  tasks/dart/easy/type_data_check.dart
Labels: Extra Small

#826 fixed Typescript Hard issue: Implement Fetch and Display Functions for Product List #649
  tasks/typescript/hard/main.ts
Labels: Extra Small

#827 Implemented a Function That Returns The Mean
  tasks/dart/easy/mean_array.dart
Labels: Extra Small

#829 firstPythonAttempt
  tasks/python/easy/number_list.py
Labels: Extra Small

#830 made an html contact form | please accept my PR for hacktoberfest 23 |
  tasks/html/medium/index.html
Labels: Extra Small

#831 issue-703: Stopwatch using javascript.
  tasks/javascript/medium/script.js
Labels: Extra Small

#828 [Snyk] Security upgrade postcss from 8.4.29 to 8.4.31
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#841 fix: added contact form
  tasks/html/medium/index.html
Labels: Extra Small

#843 written the program for converting celsius to fahrenheit
  tasks/c++/easy/tempConverter
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#852 Modified index.html in the tasks/html/easy folder
  tasks/html/easy/index.html
Labels: Extra Small

#856 contact form created
  tasks/html/medium/index.html
  tasks/html/medium/styles.css
Labels: Extra Small

#857 Implementation of go task
  tasks/go/easy/hello.go
Labels: Extra Small

#864 Fixed issue
  tasks/html/medium/index.html
Labels: Extra Small

#865 css-medium
  tasks/css/medium/styles.css
Labels: Extra Small

#867 solved
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#866 Clarify instructions for python easy task
  tasks/python/easy/number_list.py
Labels: Extra Small

#868 added a second easy task for python
  tasks/python/easy/number_sum.py
Labels: Extra Small

#877 #875 fixed-issue python easy
  tasks/python/easy/number_list.py
Labels: Extra Small

#878 solved python easy 2 task
  tasks/python/easy/number_sum.py
Labels: Extra Small

#879 Typescript easy task 1
  tasks/typescript/easy/index.ts
Labels: Extra Small

#895 Fixed issue
  tasks/c#/easy/HelloUser/Program.cs
Labels: Extra Small

#1114 [Snyk] Upgrade @types/node from 20.7.0 to 20.7.2
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1115 Add_numbers.dart
  tasks/dart/easy/add-numbers.dart
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#1117 Update README.md
  README.md
Labels: documentation, Extra Small

#1118 Update GreetingApp.java
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#1119 Completed Java-easy Challenge
  tasks/java/easy/GreetingApp.java
Labels: Extra Small

#1120 tasks/c++/easy/tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#1121 Feat[#943]:Implement "Hello, World!" program in Go
  tasks/go/easy/hello.go
Labels: Extra Small

#1122 done
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#1123 implement the sum function in c
  tasks/c/easy/sum.c
Labels: Extra Small

#1124 implement red class in css
  tasks/css/easy/styles.css
Labels: Extra Small

#1125 adding css for the card
  tasks/css/hard/card.css
Labels: Extra Small

#1126 [Snyk] Upgrade @types/node from 20.7.2 to 20.8.0
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1128 updated CONTRIBUTING.md, made it way better, precise , fun and emojified!
  CONTRIBUTING.md
Labels: documentation, Small

#1130 h1 tag
  tasks/html/easy/index.html
  tasks/html/medium/index.html
Labels: Extra Small

#1131 Create hello_world.c
  tasks/c/easy/hello_world.c
Labels: Extra Small

#1134 adding js functionality for a countdown timer that counts down from 10 seconds to zero
  tasks/css/medium/styles.css
  tasks/javascript/easy/sum.js
  tasks/javascript/medium/script.js
Labels: Extra Small

#1135 C++ easy
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#1136 Added Resume Template in tex
  tasks/latex/easy/resume-template.tex
Labels: medium

#1137 Fork, Commit, Merge - Easy Issue 3 (Python) #1021
  tasks/python/easy/hello.py
Labels: Extra Small

#1138 tasks/c/easy/sum.c
  tasks/c/easy/sum.c
Labels: Extra Small

#1140 tasks/css/easy/styles.css
  tasks/css/easy/styles.css
Labels: Extra Small

#1139 README.md: added mojo installation instruction
  README.md
Labels: documentation, Extra Small

#1141 tasks/R/easy/hello_world.R
  tasks/R/easy/hello_world.R
Labels: Extra Small

#1143 Update hello.rb
  tasks/ruby/easy/hello.rb
Labels: Extra Small

#1142 Update Program.cs
  tasks/c#/easy/HelloUser/Program.cs
Labels: Extra Small

#1148 Update GreetingApp.kt
  tasks/d/easy/reverseString.d
  tasks/kotlin/easy/GreetingApp.kt
Labels: Extra Small

#1146 [Snyk] Upgrade @types/react from 18.2.22 to 18.2.24
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1147 [Snyk] Upgrade core-js from 3.32.2 to 3.33.0
  tasks/vue/medium/vue-task-list/package-lock.json
  tasks/vue/medium/vue-task-list/package.json
Labels: Extra Small

#1149 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
  tasks/dart/easy/add_numbers.dart
Labels: Extra Small

#1151 Update Calculator.java
  tasks/java/medium/Calculator.java
Labels: Extra Small

#1155 Update tempConverter.cpp
  tasks/c++/easy/tempConverter.cpp
Labels: Extra Small

#1156 Update hello.py
  tasks/python/easy/hello.py
Labels: Extra Small

#1157 added a function in python that prints "Hello, Python!" to the console
  tasks/python/easy/hello.py
  tasks/python/easy/number_sum.py
Labels: Extra Small

#1161 Medium Issue (C++) #1039
  tasks/c++/medium/FileHandler.cpp
  tasks/c++/medium/FileHandler.h
  tasks/c++/medium/filehandler.exe
  tasks/c++/medium/text-file.txt
Labels: Extra Small

#1162 clock
  tasks/html/hard/clock/index.html
  tasks/html/hard/clock/index.js
  tasks/html/hard/clock/style.css
Labels: medium

#1163 Fork, Commit, Merge - Easy Issue 2 (PHP) #1095
  tasks/php/easy/hello.php
Labels: Extra Small

#1165 added a table in SQL
  tasks/sql/easy/create_users.sql
Labels: Extra Small

#1166 solved: nginx task
  tasks/nginx/easy/Dockerfile
  tasks/nginx/easy/README.md
  tasks/nginx/easy/nginx.conf
Labels: Extra Small

#1167 Solve the issue#1058 in index.html
  tasks/html/medium/index.html
Labels: Extra Small

#1168 tasks/R/easy/hello_world.R
  tasks/R/easy/hello_world.R
  tasks/css/easy/styles.css
Labels: Extra Small

#1169 added a query
  tasks/sql/medium/Select(select).sql
Labels: Extra Small

#1171 Update script.js for count down timer
  tasks/javascript/medium/script.js
Labels: Extra Small

#1173 Implemented Simple HTTP Server with Express.js
  tasks/express/easy/app.js
Labels: Extra Small

#1175 [Snyk] Upgrade eslint-config-next from 13.5.3 to 13.5.4
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1176 [Snyk] Upgrade @types/node from 20.8.0 to 20.8.2
  tasks/nextjs/easy/nextjs-easy/package-lock.json
  tasks/nextjs/easy/nextjs-easy/package.json
Labels: Extra Small

#1174 Update index.php
  tasks/php/easy/index.php
Labels: Extra Small

#1180 Fixed Issue [Python Medium]
  tasks/python/medium/bubble_sort.py
Labels: Extra Small

#1181 [ADDED]: GreetingApplication
  tasks/java/easy/GreetingApplication.java
Labels: Extra Small
